.container__card__content__openclassrooms {
	transition: all 1s ease;
	height: 0;
	overflow: hidden;
}
.container__card__content__openclassrooms__show {
	height: 300px;
	transition: all 1s ease;
	overflow: hidden;
}
.container__card__content__kedge {
	transition: all 1s ease;
	height: 0;
	overflow: hidden;
}
.container__card__content__kedge__show {
	height: 160px;
	transition: all 1s ease;
	overflow: hidden;
}

.container__card__content {
	transition: all 1s ease;
	height: 0;
	overflow: hidden;
}
.container__card__content__show {
	height: 100px;
	transition: all 1s ease;
	overflow: hidden;
}
