/* FOOTER HOME */

.home__footer {
	display: flex;
	flex-direction: row;
	margin-top: 150px;
	height: 300px;
	width: 100%;
	background-color: #eeedff;
	justify-content: space-around;
	font-family: "Glacial";
}
.home__footer h2 {
	font-weight: bold;
}
.home__footer h3 {
	width: 250px;
	height: 100px;
	font-weight: lighter;
	text-justify: auto;
}
.home__footer img {
	width: 125px;
	height: 100px;
}
.home__footer ul {
	list-style-type: none;
	padding: 0;
}
.home__footer li {
	margin-top: 8px;
}

.home__footer div {
	display: flex;
	flex-direction: column;
	margin-top: 25px;
}
