.home {
	width: 100%;
}

.home__promotion {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 30px;
	background-color: #eeedff;
}
.home__promotion__content {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 50%;
	opacity: 0.8;
	font-size: 1.2em;
	color: #556c96;
	font-family: "Glacial";
}

/* FIN DU BANDEAU PROMOTION */

.header__home {
	margin: 0 auto;
	margin-top: 20px;
	height: 60px;
	width: 95%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 2em;
	font-family: "Glacial";
	padding-bottom: 20px;
}
.header__home__logo {
	display: flex;
	width: 50%;
	padding-left: 50px;
	flex-direction: row;
	align-items: center;
}
.header__home__logo h1 {
	margin-top: 10px;
	margin-left: 20px;
	font-size: 1em;
}
.header__home__logo img {
	width: 50px;
	height: 50px;
	object-fit: cover;
	border-radius: 5em;
	background-color: #556c96;
}

.header__home__content {
	display: flex;
	justify-content: center;
	justify-content: space-between;
	width: 30%;
	padding-right: 50px;
}
.header__home__content__picto {
	display: flex;
	flex-direction: row;
	align-items: center;
	color: #556c96;
	/* color: #ff584d; */
}

.header__home__content__picto p {
	margin: 0;
	margin-left: 20px;
	color: black;
	font-size: 0.8em;
}

/*  FIN DU HEADER */

.carousel {
	margin: 0 auto;
	margin-bottom: 0px;
	height: 700px;
	width: 95%;
}

.carousel img {
	height: 700px;
	width: 100%;
	object-fit: cover;
	margin-bottom: 150px;
}

/* FIN DE BANNER */

.slogan {
	margin: 0 auto;
	font-family: "Bold";
	width: 50%;
	font-size: 3em;
	text-align: center;
}
.section__title {
	margin-top: 100px;
	margin-left: 50px;
	font-size: 2em;
}
.home__article {
	display: flex;
	flex-direction: row;
	margin: 0 auto;
	width: 95%;
	justify-content: center;
	margin-bottom: 50px;
}

.home__section__left {
	width: 73%;
	height: 600px;
	display: flex;
	flex-direction: row;
}
.home__section__right {
	position: relative;
	display: flex;
	width: 27%;
	height: 600px;
	background-color: #eeedff;
	flex-direction: column;
}
.home__article article {
	position: relative;
	display: flex;
	width: 100%;
	height: 600px;
	background-color: #eeedff;
	flex-direction: column;
	border: 1px solid rgb(206, 203, 203);
}

.home__section__left article {
	margin-right: 50px;
	width: 40%;
}
.home__section__left p {
	position: absolute;
	font-size: 2em;
	left: 20px;
	top: 20px;
	font-family: "Market";
	font-weight: bold;
}

.home__section__left img {
	width: 100%;
	height: 85%;
	object-fit: cover;
}

.home__section__left__price {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: -20px;
	right: -20px;
	font-size: 3.2em;
	font-weight: bold;
	width: 100px;
	height: 100px;
	border-radius: 1000em;
	background-color: #0fac71;
	transform: rotate(8deg);
	animation: zoom 0.8s linear infinite;
}

@keyframes zoom {
	0% {
		background-color: #0fac71;
	}
	50% {
		background-color: #058554;
	}
	100% {
		background-color: #0fac71;
	}
}
.home__section__left p {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.home__section__right img {
	width: 100%;
	height: 82%;
	object-fit: cover;
}

.home__section__right p {
	font-family: "Hemi";
	font-size: 5em;
	position: absolute;
	left: -20px;
	overflow: visible;
}

/*  FOOTER ARTICLE */

.home__article footer {
	width: 100%;
	height: 18%;
	background-color: white;
	position: relative;
}

.article__footer__content {
	margin-left: 20px;
}
.article__footer__description {
	font-family: "Glacial";
	font-size: 1.5em;
}

.article__footer__button {
	position: absolute;
	right: 20px;
	bottom: 20px;
}

.article__footer__button button {
	background-color: #ff584d;
	border: none;
	margin-right: 10px;
	height: 40px;
	width: 100px;
	border-radius: 0.5em;
	font-family: "Glacial";
	font-size: 1.1em;
	cursor: pointer;
}
